.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
}
.item {
  height: 50px;
  background-color: #b86e6e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
}
.item1 {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 7;
  grid-row-start: 1;
}
.item2 {
  background-color: yellow;
}
